<div class="row">
  <div class="col-md-8">
    <h1>Timelapse video</h1>
    <p class="lead">Every ten minutes, a picture of the growing rig is taken and at the end of the hour, a timelapse of the
      complete history so far is updated.</p>
    <p class="lead"><em>The action is slow, but the drama is real!</em></p>
  </div>
</div>
<div class="row">
  <div class="col-md-8">
    <p class="bg-warning">There is an issue on iOS devices which prevents the timelapse from playing.</p>
  </div>
</div>
<div class="row" style="padding-top: 1.5rem">
  <div class="col-sm-12">
    <video id="timelapse_player" class="video-js vjs-default-skin"
           controls preload="auto" width="720" height="480"
           poster="images/video_poster.png"
           data-setup='{"autoplay": false}'>
      <source src="http://hydro.weekendhack.it/timelapse.mp4" type='video/mp4'/>
      <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web
        browser that
        <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
    </video>
  </div>
</div>

<div class="row" style="padding-top: 1.5rem; padding-bottom: 5rem">
  <div class="col-sm-7">
    <table class="table">
      <thead><h2>Events of note</h2></thead>
      <tbody>
      <tr>
        <td>Water pipe falls out, pumping water on the balcony!</td>
        <td>
          02:27 <!-- <button id="leakage">Play</button> -->
        </td>
      </tr>
      <tr>
        <td>Changed to new batch of nutrient water. Nutrient solution too strong. Tomato plant nearly dies.</td>
        <td>
          02:45 <!-- <button id="malnutrition">Play</button> -->
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- <script src="scripts/util/timelapseSetup.js"></script> -->
